* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    font-weight: 900;

}
$colores: (
    principal:linear-gradient(90deg, black, rgb(0, 44, 138)),
    secundario:linear-gradient(90deg,  rgb(155, 23, 155),black)
    );


.textoInicio {
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    color: white;
    font-weight: 900;
}
.textito {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    padding: 10px;
}
section img {width:99.99%;}
.header {
    display: flex;
    position: sticky;
    top: 0.1px;
    background: map-get($colores, principal ); 
    z-index: 2;
    left:33%;
    opacity: 85%;
    justify-content: space-between;
    .logo {
        left:0;
    }
    .navbar-nav {
        gap:10px;
        .navbarra {
            color: white;
            list-style: none;
            text-decoration: none;
            font-size: 1.2em;
            &:hover {
                color:black;
            }
        }
        .dropdown-item {
            font-weight: 900;
        }
    }
}
    .textosFotos {
        height: auto;
        font-family: 'Poiret One', cursive; 
        display: flex;
        padding: 10px;
        gap: 10px;
        text-decoration: none;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: black;
        .Personas {
            display: grid;
            grid-template-columns: repeat(5,auto);
            & img:hover {
                border:none;
            }
        }
        & img {
            width: 40vh;
            &:hover {
                border: 2px solid rgb(2, 248, 248);
            
            }
        }
        & a {
            text-decoration: none;
            font-size: 1em;
            &:hover {
                color:red;
                
            }
        }
        .FotoYo {
            &:hover {border: 0;}
        }
        .yo {
            color: black;
            font-weight: bold;
            width: 80%;
        }
        .titulos {
            color: black;
            font-weight: bold;
        }
        
    }
    .Inicio {
        height: 95%;
        
    }
.fotos {
    height: auto;
    filter: grayscale(1);
    border: 2px solid rgb(81, 206, 255); 
    transition: all .5s;  
    &:hover {
        filter: none;
    
    }


}
.fotos img {
width: 100%;
height: 100%;
object-fit: cover;
}
.GrillaFotos {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0.1vh;
    grid-template-columns: repeat(4, 1fr);
}



.form {
    
    .Contacto {
        height: auto;
        background-image: url(../img/FotoFin.jpg);
        text-align: center;

        display: block;
        background-size:cover;
        color: white;
        font-size: large;
        .Contacto__TextoPrimario {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: larger;
        }
        .Contacto__TextoSecundario {
            margin-top: 3rem;
            font-size:larger;
        }
        div {
            margin-top: 1rem;
        }
        h2 {
            font-weight: 900;
        }
        button {
            font-weight: 500;
        }
        .form__button {
            font-size: 1.2rem;
        }
        
    }
}
.exito {
    height: 10vh;
    background-image:url(../img/IMG_20220117_072924.jpg);
}
.carrusela {
    width: 90%;
    margin: 0 auto;
    .FotosCarrusel {
        justify-content: center;
        width: 100%;
    }
}
.grillaResumen {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    .fotito {
        
        & img {
            margin-top: 1rem;
            width:100%;
        }
    }
    & p {
        color: white;
        display: flex;
        position: absolute;
        margin-top: 1rem;
        justify-content: center;
        font-size: 5vw;
        
    }
    .textofoto {
        text-decoration: none;
    }
}
.GoUp {
    position: sticky;
    bottom: 5%;
    left: 92%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightgray;
    color: #001f60;
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
    
    &Img {
        width: 3%;
    }
}

@mixin prueba ($just, $lista, $texto) {
    justify-content: $just;
    list-style: $lista;
    text-align: $texto;
}
.variaciones {
background: map-get($colores , principal );
@include prueba(space-evenly,none ,center );
text-decoration: none;
background-color: transparent;
color: white;
}
.Footer {
    
    @extend .variaciones;
    
    & a{
        @extend .variaciones;
        background: transparent;
    }
    &Link {
        display: flex;
        @include prueba(space-around,null,center );

        .Links {
            color: white;
            &:hover {
                box-shadow: 0 0 20px 0px rgb(0 0 0 / 39%);
                outline: 0;
            }
        }
        
    }
    .fotosLinks {
        filter: grayscale(1);
    }
    &Texto {
        margin-bottom: 0;
    }
    
    
}
@mixin cambios {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media  (min-width: 768px) and (max-width: 1023px) {
    .header {
        display: flex;
        @include cambios;
        
        background: map-get($colores, secundario );
    }
    .textoInicio {
        font-size: 2.5vw;
    }
    .textito {
        font-size: 2.5vw;
    }
    .Footer {
        .FooterLink, .FooterTexto {
            font-size: 2.5vw;
        }
        
    }
    
    .fotos {
        display: grid;
       
            &:hover {
                filter: none;
            
            }
        
    }
    
    .GrillaFotos {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 0.1vh;
        grid-template-columns: repeat(3, auto); 
      
    }
    .Personas {
        display: grid;
        grid-template-columns: repeat(2,auto); 

    }
    
    .grillaResumen {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        .fotito {
            
            & img {
                margin-top: 1rem;
                width:100%;
            }
        }
        & p {
            color: white;
            display: flex;
            position: absolute;
            margin-top: 1rem;
            justify-content: center;
            
            
        }
        .textofoto {
            text-decoration: none;
        }
    }

}
@media (max-width: 767px) {
    .header {
        display: flex;
        @include cambios;
    }
    
    
    a:hover {
        color: black;
    }
    .carrusela {
        display:hidden;
        .FotosCarrusel {
            display: hidden;
        }
    }
    .textoInicio {
        font-size: 5vw;
    }
    .textito {
        font-size: 5vw;
    }
    .Footer {
        .FooterLink, .FooterTexto {
            font-size: 2.5vw;
        }
        
    }
    
    
    
    .GrillaFotos {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 0.1vh;
        grid-template-columns: repeat(1, auto);
        .fotos {
            display: grid;
            &:hover {
                filter: none;
            
            }
        }
    
      }
      .textosFotos {
        iframe {
            width:75%;
        }
        .Personas {
            display: grid;
            grid-template-columns: repeat(1,auto);
            .fotos {
                display: grid;
                &:hover {
                    filter: none;
                
                }
            }
            
        }
      }
        .grillaResumen {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            .fotito {
                
                & img {
                    margin-top: 1rem;
                    width:100%;
                }
            }
            & p {
                color: white;
                display: flex;
                position: absolute;
                margin-top: 1rem;
                justify-content: center;
                font-size: 5vw;
                
            }
            .textofoto {
                text-decoration: none;
            }
        }
        .GoUp {
        left: 87%;
        &Img {
            width:6%;
        }
    }
        .form {
            .Contacto {
                .form__input {
                    width: 75%;
                    max-width: 50%;
                    max-height: 200px;
                }
                
            }
        }

   
} 